<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [9]:
# create a list of 10 student (use just first name)
students = ['john', 'april', 'jeff', 'jovita', 'jenny', 'tammy', 'peter', 'tommy', 'christopher', 'david']

students = [student.capitalize() for student in students]

In [21]:
# Print the list
print(students)

['john', 'april', 'jeff', 'jovita', 'jenny', 'tammy', 'peter', 'tommy', 'christopher', 'david']

In [25]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for index, name in enumerate(students):
    print(f"Index %02d " %(index+1) + " -> " + name)

Index 01  -> john
Index 02  -> april
Index 03  -> jeff
Index 04  -> jovita
Index 05  -> jenny
Index 06  -> tammy
Index 07  -> peter
Index 08  -> tommy
Index 09  -> christopher
Index 10  -> david

In [38]:
# print the list of students in reverse order one student in a line with its index
for index, name in reversed(list(enumerate(students))):
    print (f"Index %02d " %(index+1) + " -> " + name)

Index 10  -> david
Index 09  -> christopher
Index 08  -> tommy
Index 07  -> peter
Index 06  -> tammy
Index 05  -> jenny
Index 04  -> jovita
Index 03  -> jeff
Index 02  -> april
Index 01  -> john

enumerate

In [41]:
# print the student list in random order
# hint look up the function random.sample
import random
students_random = random.sample(students,len(students))
print(students_random)

['peter', 'tommy', 'jeff', 'christopher', 'david', 'jovita', 'john', 'jenny', 'april', 'tammy']

In [36]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students, marks))
print(f"Students and their marks: \n {studentsAndMarks}")

Students and their marks:
 {'john': 87, 'april': 45, 'jeff': 76, 'jovita': 64, 'jenny': 66, 'tammy': 90, 'peter': 55, 'tommy': 73, 'christopher': 69, 'david': 75}